<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #FF0000;
        }
        p {
            color: #333333;
        }
    </style>
</head>
<body>
    <h1>啊？！</h1>
    <p>TA好像还没有个人主页啊。</p>
    <p><a href="127.0.0.1:8000/pfhelp"></a>访问个人主页相关文档获得帮助</a></p>
</body>
</html>
