{% extends 'learning_logs/base.html' %}

{% block content %}
  <div style="max-width: 300px; margin: 0 auto;">
    <h2 style="text-align: center;">注册</h2>

    <form action="{% url 'users:register' %}" method="POST" style="border: 1px solid #ccc; background-color: #f4f4f4; padding: 20px; border-radius: 10px; text-align: center;">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" style="padding: 10px 20px; border: none; border-radius: 5px; background-color: #007bff; color: #fff; cursor: pointer; margin-top: 10px;">注册</button>
      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
  </div>
{% endblock content %}
